$primary-font: 'Open Sans', sans-serif;

$color-black: #000000;
$color-white: #ffffff;

$font-xs: 0.75rem; 
$font-sm: 0.875rem; 
$font-base: 1rem; 
$font-lg: 1.125rem; 
$font-xl: 1.25rem; 
$font-2xl: 1.5rem; 
$font-3xl: 1.875rem; 
$font-4xl: 2.25rem; 

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;

$content-padding-inline: $spacing-xxl;
