@use '../abstracts/variables' as *;
@use '../abstracts/mixins';

@use 'sass:color';

.main-content {
  background: $color-bg-primary;
  padding-block: $spacing-xxl;
  padding-inline: $content-padding-inline;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem));
  gap: $spacing-lg;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-white;
  border-radius: $radius-md;
  padding: $spacing-lg;
}

.book-card__body {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.book-card__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $spacing-md;
}

.book-card__title,
.book-card__author,
.book-card__pages {
  margin: $spacing-none;
}

.book-card__title {
  font-size: $font-size-2xl;
  padding-bottom: $spacing-xs;
}

.book-card__author {
  font-size: $font-size-base;
  letter-spacing: 0.05em;
  padding-bottom: $spacing-xs;
}

.book-card__pages {
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  opacity: $opacity-80;
  padding-bottom: $spacing-xs * 0.5;
}

.book-card__actions {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: $spacing-sm * 0.7 $spacing-sm * 5;
  border: $border-none;
  border-radius: $radius-sm;
}

.book-card__toggle-read.btn {
  background: $color-light-green;
  @include mixins.button-effects(
    $hover-bg: color.scale($color-light-green, $lightness: -5%),
    $focus-color: $color-dark-green
  );
}

.book-card__toggle-unread.btn {
  background: $color-white;
  color: black;
  opacity: 0.3;
  border: $border-width-thin solid $color-light-grey;
  @include mixins.button-effects(
    $hover-opacity: 0.5,
    $focus-color: $color-black
  );
}

.book-card__remove.btn {
  @include mixins.button-effects(
    $hover-bg: color.scale($color-light-red, $lightness: +75%),
    $focus-color: $color-light-red
  );
}

.book-card__icon {
  position: absolute;
  left: $spacing-sm;
  @include mixins.icon-slide-on-hover;
}

.book-card__icon svg {
  @include mixins.icon-size($font-size-xl);
}

.book-card__toggle-text,
.book-card__remove-text {
  font-size: $font-size-base;
}

.book-card__icon-read {
  fill: $color-dark-green;
}

.book-card__icon-unread {
  fill: $color-black;
  opacity: 0.3;
}

.book-card__icon-trash {
  fill: $color-light-red;
}
