@use '../abstracts/variables' as *;
@use '../abstracts/mixins';

@use 'sass:color';

.main-content {
  background: $color-bg-primary;
  padding-block: $spacing-2xl;
  padding-inline: $content-padding-inline;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem));
  gap: $spacing-lg;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-white;
  border-radius: $radius-md;
  padding: $spacing-lg;
  box-shadow: $shadow-lg;

  @include mixins.apply-interactive-transition;
  @include mixins.apply-hover-shadow($shadow-xl);
  @include mixins.apply-hover-transform(translateY(-4px));
}

.book-card__body {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.book-card__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $spacing-md;
}

.book-card__title,
.book-card__author,
.book-card__pages {
  margin: $spacing-none;
}

.book-card__title {
  font-size: $font-size-2xl;
  padding-bottom: $spacing-xs;
}

.book-card__author {
  font-size: $font-size-sm;
  letter-spacing: 0.05em;
  padding-bottom: $spacing-xs;
}

.book-card__pages {
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  opacity: $opacity-80;
  padding-bottom: $spacing-xs * 0.5;
}

.book-card__actions {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: $spacing-sm * 0.7 $spacing-sm * 5;
  border: $border-none;
  border-radius: $radius-sm;
}

.book-card__toggle-read.btn {
  background: $color-light-green;

  @include mixins.apply-interactive-transition;
  @include mixins.apply-focus-ring($focus-color: $color-dark-green);
  @include mixins.apply-hover-state(
    $bg: color.scale($color-light-green, $lightness: -5%),
    $opacity: $opacity-90,
    $cursor: pointer
  );
}

.book-card__toggle-unread.btn {
  background: $color-white;
  border: $border-width-thin solid $color-light-grey;
  color: black;
  opacity: 0.3;

  @include mixins.apply-interactive-transition;
  @include mixins.apply-hover-state($opacity: $opacity-50);
  @include mixins.apply-focus-ring($focus-color: $color-black);
}

.book-card__remove.btn {
  @include mixins.apply-interactive-transition;
  @include mixins.apply-focus-ring($focus-color: $color-light-red);
  @include mixins.apply-hover-state(
    $bg: color.scale($color-light-red, $lightness: +75%)
  );
}

.book-card__icon {
  position: absolute;
  left: $spacing-sm;
  padding-top: 2px;

  @include mixins.apply-interactive-transition;
  @include mixins.on-parent-hover-transform($parent-selector: '.btn');
}

.book-card__icon svg {
  @include mixins.set-size($font-size-xl);
}

.book-card__toggle-text,
.book-card__remove-text {
  font-size: $font-size-base;
}

.book-card__icon-read {
  fill: $color-dark-green;
}

.book-card__icon-unread {
  fill: $color-black;
  opacity: 0.3;
}

.book-card__icon-trash {
  fill: $color-light-red;
}

.add-book-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius-md;

  @include mixins.apply-interactive-transition;
  @include mixins.draw-dashed-border($color: $color-blue);
}

.add-book-card:hover {
  @include mixins.apply-hover-state(
    $bg: rgba($color-blue, $opacity-5),
    $cursor: pointer
  );
}

.add-book-card__plus-icon {
  position: relative;
}

.add-book-card__horizontal-bar,
.add-book-card__vertical-bar {
  width: 0.35rem;
  height: 3rem;
  background: $color-blue;
  border-radius: $radius-md;
}

.add-book-card__vertical-bar {
  transform: rotate(90deg);
  position: absolute;
}

.add-book-card__text {
  position: absolute;
  bottom: $spacing-xl;
  color: $color-blue;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
}
