@use '../abstracts/variables' as *;
@use '../abstracts/mixins';

@use 'sass:color';

.main-content {
  background: $bg-primary;
  padding-block: $spacing-2xl;
  padding-inline: $content-padding-inline;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem));
  grid-auto-rows: 20rem;
  gap: $spacing-lg;
}

.book-card,
.add-book-btn {
  border-radius: $radius-md;
  box-shadow: $shadow-lg;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-white;
  padding: $spacing-lg;

  @include mixins.apply-interactive-transition;
  @include mixins.apply-hover-shadow($shadow-lg);
  @include mixins.apply-hover-transform(translateY(-2px));
}

.book-card__body {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.book-card__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: $spacing-md;
}

.book-card__title,
.book-card__author,
.book-card__pages {
  margin: $spacing-none;
}

.book-card__title {
  font-size: $font-size-2xl;
  padding-bottom: $spacing-xs;
}

.book-card__author {
  font-size: $font-size-sm;
  letter-spacing: 0.05em;
  padding-bottom: $spacing-xs;
  font-weight: $font-weight-semibold;
}

.book-card__pages {
  font-size: $font-size-xs;
  font-weight: $font-weight-light;
  padding-bottom: $spacing-xs * 0.5;
}

.book-card__actions {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.btn {
  width: 13.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: $border-none;
  border-radius: $radius-md;
  box-shadow: $shadow-sm;
  color: $color-light-black;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
}

.book-card__toggle-read.btn--is-read {
  background: $color-light-green;
  border: $border-width-thin solid transparent;

  @include mixins.apply-interactive-transition;
  @include mixins.apply-focus-ring($focus-color: $color-dark-green);
  @include mixins.apply-hover-state(
    $bg: color.scale($color-light-green, $lightness: -5%),
    $cursor: pointer
  );
}

.book-card__toggle-read.btn--is-unread {
  background: $color-white;
  border: $border-width-thin solid $color-light-grey-primary;
  opacity: $opacity-50;

  .book-card__toggle-text {
    color: $color-light-black;
    font-weight: $font-weight-normal;
  }

  @include mixins.apply-interactive-transition;
  @include mixins.apply-hover-state($bg: $color-light-grey-secondary);
  @include mixins.apply-focus-ring($focus-color: $color-black);
}

.book-card__remove.btn {
  @include mixins.apply-interactive-transition;
  @include mixins.apply-focus-ring($focus-color: $color-light-red);
  @include mixins.apply-hover-state(
    $bg: color.scale($color-light-red, $lightness: +75%),
    $cursor: pointer
  );
}

.book-card__icon {
  position: absolute;
  left: $spacing-sm;
  padding-top: 2px;

  @include mixins.apply-interactive-transition;
  @include mixins.on-parent-hover-transform($parent-selector: '.btn');
}

.book-card__icon svg {
  @include mixins.set-size($font-size-xl);
}

.book-card__icon-read {
  fill: $color-dark-green;
}

.book-card__icon-unread {
  fill: $color-black;
  opacity: $opacity-25;
}

.book-card__icon-trash {
  fill: $color-light-red;
}

.add-book-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  @include mixins.apply-interactive-transition;
  @include mixins.apply-hover-transform(translateY(-2px));
  @include mixins.apply-hover-state(
    $bg: $color-light-grey-secondary,
    $cursor: pointer
  );
  @include mixins.apply-focus-ring($focus-color: $color-light-grey-primary);
}

.add-book-btn__plus-icon {
  position: relative;
}

.add-book-btn__horizontal-bar,
.add-book-btn__vertical-bar {
  display: block;
  width: 0.35rem;
  height: 3rem;
  background: $color-blue;
  border-radius: $radius-md;
}

.add-book-btn__vertical-bar {
  transform: rotate(90deg);
  position: absolute;
}

.add-book-btn__text {
  position: absolute;
  bottom: $spacing-xl;
  color: $color-blue;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
}
