@use '../utils/variables' as *;

.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: $content-padding-inline;
  box-shadow: $shadow-md;
  z-index: $z-sticky;
}

.site-header__title {
  font-size: $font-2xl;
  margin: $spacing-none;
}
